<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <appSettings>
     <add key="WSGI_HANDLER" value="django.core.handlers.wsgi.WSGIHandler()" />
     <add key="PYTHONPATH" value="C:\inetpub\wwwroot\pppt" />
     <add key="DJANGO_SETTINGS_MODULE" value="part3.settings" />
   </appSettings>
   <system.webServer>
     <handlers>
         <add name="Python FastCGI"
              path="*"
              verb="*"
              modules="FastCgiModule"
              scriptProcessor="C:\Users\Administrator.ATOSADALLAS\AppData\Local\Programs\Python\Python36\python.exe|C:\Users\Administrator.ATOSADALLAS\AppData\Local\Programs\Python\Python36\Lib\site-packages\wfastcgi.py"
              resourceType="Unspecified" />
              requireAccess="Script"/>
     </handlers>
        <httpErrors errorMode="Detailed" />
   </system.webServer>
 </configuration>
