{% extends 'dispatcher/index.html' %}
{% load static %}
{% block content %}

<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-md-4">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Basic Information</h3>
          </div>
          <div class="box-body">
            <p class="text-light-blue">Incident Number:{{unit.sksid|upper }}</p>
            <p class="text-light-blue">Business Name: {{unit.businessName|upper }}</p>
            <p class="text-light-blue">Business Hour: {{unit.business_hour|upper }}</p>
            <p class="text-light-blue">Contact Name: {{unit.contactName|upper }}</p>
            <p class="text-light-blue">Serial Number: {{unit.serialNumber|upper}}</p>
            <p class="text-light-blue">Phone: {{unit.phone|upper}}</p>
            <p class="text-light-blue">Email: {{unit.email|upper}}</p>
            <p class="text-light-blue">Address: {{unit.location_add1|upper}} {{unit.location_add2|upper}} {{unit.location_city|upper}}
              {{unit.location_state|upper}} {{unit.location_zip|upper}}</p>
            <p class="text-light-blue">Issue: {{unit.issue|upper}}</p>
            <p class="text-light-blue">Technical Support Questions: {{unit.tsq|upper|linebreaks}}</p>
            <p class="text-light-blue">Received by {{unit.receiver}} @ {{unit.callTime}}</p>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Pre-diagnosis</h3>
          </div>
          <div class="box-body">
            <p class="text-light-blue">Note: {{unit.pre_diagnosis}}</p>
          </div>
        </div>
	<div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Parts Information</h3>
          </div>
          <div class="box-body">
            {% if parts %}
              {% for p in parts%}
                <p class="text-light-blue">{{p.number}} {{p.name}} {{p.qty}} {{p.tracking}}</p>
                <p class="text-light-blue">{{p.note}}</p>
              {% endfor %}

            {% endif %}
          </div>
        </div>
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Tech Information</h3>
          </div>
          <div class="box-body">
            <p class="text-light-blue">{{unit.techNote|linebreaks}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Follow-up with customer</h3>
          </div>
          <div class="box-body">
            <p class="text-light-blue">Note: {{unit.followup_customer|linebreaks}}</p>
            <div class="form-group">
              <form class='form' action="/request/customer/follow/{{ unit.pk }}/" method="post">
                {% csrf_token %}
                <textarea class="form-control" rows="5" name="customer" id="follow_up_customer" required></textarea>
                
                <button type="submit" class="btn btn-primary pull-right">update</button>
              </form>
            </div>
          </div>
        </div>
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Follow-up with technician</h3>
          </div>
          <div class="box-body">
            <p class="text-light-blue">Note: {{unit.followup_tech|linebreaks}}</p>
            <div class="form-group">
              <form class='form' action="/request/tech/follow/{{ unit.pk }}/" method="post">
                {% csrf_token %}
                <textarea class="form-control" rows="5" name="tech" id="follow_up_tech" required></textarea>
                <button type="submit" class="btn btn-primary pull-right">update</button>
              
            </div>
          </div>
        </div>
        <label>
          <input type="checkbox" class="flat-red" name="statue" value="finished">
          Mark it as finished
        </label>
        </form>
      </div>
    </div>
  </section>
</div>
{% endblock %}
