{% extends 'request/index.html' %} 
{% load static %}
{% load tz %} 
{% block left_nav %}
<li>
  <a href="/queue/">
    <i class="fa fa-book"></i><span>Queue</span>
  </a>
</li>
{% endblock %}
{% block notification %}

<li class="dropdown messages-menu" >
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-envelope-o"></i>
    <span id="myspan" class="label label-success"></span>
  </a>
  <ul id="dynamic-list" class="dropdown-menu"></ul>
</li>
<!-- 
<div class="navbar-custom-menu pull-left">
    <ul class="nav navbar-nav">
      <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-envelope">
          </span>
        </a>
        <ul id="dynamic-list1" class="dp-menu" aria-labelledby="dropdownMenu1">
        </ul>
      </li>
    </ul>
  </div> -->
{% endblock %}
{% block script %}
<script>
    var ul = document.getElementById("dynamic-list");
    var notification = document.getElementById("myspan");
    const url = "/inbox/notifications/api/unread_list/";
    $.getJSON(url, function (data) {
      unread_count=data.unread_count
      unread_list=data.unread_list
      notification.innerHTML=unread_count
      $.each(unread_list, function (key, entry) {
        var li = document.createElement("li");
        var a = document.createElement("a");
        a.textContent = entry.verb;
        li.setAttribute('id',entry.id);
        li.setAttribute('value',entry.id);
        var case1=entry.data;
        var case_id=case1["incident"];
        var url="/request/"+case_id+"/";
        a.setAttribute('href',url);
        li.appendChild(a);
        ul.appendChild(li);
        
      })
    });
    
  </script>
{% endblock %}