
{% extends 'account/index.html' %}
{% load static %}
{% block css %}
<style>
#total{
  text-decoration: underline;
}
</style>
{% endblock %}
{% block content %}

<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-md-4">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Account Information</h3>
          </div>
          <div class="box-body">
            <form class='form' action="#" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <p>
              <button onclick="count()" type="button" class="btn btn-success btn-sm">Count</button>
              Total Service Call Cost: $
                <span id="total" class="hidden-xs"></span>
              </p>

              <button type="submit" class="btn btn-primary pull-left">update</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
{% block script %}
<script>
function count() {
  var l_c = parseFloat(document.getElementById("id_labor_c").value);
  var t_c = parseFloat(document.getElementById("id_travel_c").value);
  var m_c = parseFloat(document.getElementById("id_material_c").value);
  var total = l_c+t_c+m_c;
  document.getElementById("total").innerHTML = total.toFixed(2);
}
</script>
{% endblock %}
