
{% extends 'account/index.html' %}
{% load static %}
{% block css %}
<style>
#total{
  text-decoration: underline;
}
</style>
{% endblock %}
{% block content %}

<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-md-4">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Basic Information</h3>
          </div>
          <div class="box-body">
            <p class="text-light-blue">Incident Number:{{unit.sksid|upper }}</p>
            <p class="text-light-blue">Business Name: {{unit.businessName|upper }}</p>
            <p class="text-light-blue">Contact Name: {{unit.contactName|upper }}</p>
            <p class="text-light-blue">Serial Number: {{unit.serialNumber|upper}}</p>
            <p class="text-light-blue">Phone: {{unit.phone|upper}}</p>
            <p class="text-light-blue">Email: {{unit.email|upper}}</p>
            <p class="text-light-blue">Address: {{unit.location_add1|upper}} {{unit.location_add2|upper}} {{unit.location_city|upper}}
              {{unit.location_state|upper}} {{unit.location_zip|upper}}</p>
            <p class="text-light-blue">Issue: {{unit.issue|upper}}</p>
            <p class="text-light-blue">Received by {{unit.receiver}} @ {{unit.callTime}}</p>
          </div>
          <!-- /.box-body -->
        </div>
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Tech Information</h3>
          </div>
          <div class="box-body">
            <p class="text-light-blue">Tech: {{unit.techName}}</p>
            <p class="text-light-blue">Phone: {{unit.techPhone}}</p>
            <p class="text-light-blue">Email: {{unit.techEmail}}</p>
            <p class="text-light-blue">Note: {{unit.techNote|linebreaks}}</p>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Warranty Information</h3>
          </div>
          <div class="box-body">
            <div class="box-body">
            <p>Warranty: {{unit.warranty}}</p>
            <P>Note: {{ unit.warrantyNote|upper|linebreaks}}</P>
          </div>
          </div>
        </div>
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Parts Information</h3>
          </div>
          <div class="box-body">
            <p class="text-light-blue">Tracking: {{unit.tracking}}</p>
          </div>
        </div>
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Follow Up With Customer</h3>
          </div>
          <div class="box-body">
            <p class="text-light-blue">{{unit.followup_customer|upper|linebreaks}}</p>
          </div>
        </div>
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Follow Up With Technician</h3>
          </div>
          <div class="box-body">
            <p class="text-light-blue">{{unit.followup_tech|upper|linebreaks}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Account Information</h3>
          </div>
          {% if invoices %}
          <div class="box-body">
            <table id="assets_table" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Invoice</th>
                  <th>Total Cost</th>
                </tr>
              </thead>

              <tbody>
                  {% for p in invoices %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ p.invoice }}</td>
                    <td>${{ p.total_c }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
          <div class="box-body">
            <form class='form' action="/warranty/account/{{ unit.pk }}/" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <p>
              <button onclick="count()" type="button" class="btn btn-success btn-sm">Count</button>
              Total Service Call Cost: $
                <span id="total" class="hidden-xs"></span>
              </p>

              <button type="submit" class="btn btn-primary pull-left">update</button>
              <a href="/render/pdf/{{unit.pk}}/" target="_blank">Print</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
{% block script %}
<script>
function count() {
  var l_c = parseFloat(document.getElementById("id_labor_c").value);
  var t_c = parseFloat(document.getElementById("id_travel_c").value);
  var m_c = parseFloat(document.getElementById("id_material_c").value);
  var total = l_c+t_c+m_c;
  document.getElementById("total").innerHTML = total.toFixed(2);
}
</script>
{% endblock %}
