
{% extends 'operator/operator.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block content %}

<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-md-4">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Basic Information</h3>
          </div>
          <div class="box-body">
            <p class="text-light-blue">Incident Number:{{unit.sksid|upper }}</p>
            <p class="text-light-blue">Business Name: {{unit.businessName|upper }}</p>
            <p class="text-light-blue">Business Hour: {{unit.business_hour|upper }}</p>
            <p class="text-light-blue">Contact Name: {{unit.contactName|upper }}</p>
            <p class="text-light-blue">Serial Number: {{unit.serialNumber|upper}}</p>
            <p class="text-light-blue">Phone: {{unit.phone|upper}}</p>
            <p class="text-light-blue">Email: {{unit.email|upper}}</p>
            <p class="text-light-blue">Address: {{unit.location_add1|upper}} {{unit.location_add2|upper}} {{unit.location_city|upper}}
              {{unit.location_state|upper}} {{unit.location_zip|upper}}</p>
            <p class="text-light-blue">Issue: {{unit.issue|upper}}</p>
            <p class="text-light-blue">Technical Support Questions: {{unit.tsq|upper|linebreaks}}</p>
            <p class="text-light-blue">Received by: {{unit.receiver}} @ {{unit.callTime}}</p>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block script %}
{% endblock %}
