{% extends 'request/index.html' %}
{% load static %}
{% load tz %}

{% block left_nav %}
<li>
  <!-- <a href="/request/invoice"> -->
  <a href="/request/invoice">
    <i class="fa fa-book"></i> <span>Invoices</span>
  </a>
</li>
<li class="treeview">
  <a href="#">
    <i class="fa fa-book"></i> <span>Data Analysis</span>
  </a>
  <ul class="treeview-menu">
    <li><a href="/data/">By Location</a></li>
    <li><a href="/data/1">By Date</a></li>
    <li><a href="/data/2">By Model</a></li>
    <li><a href="/data/3">By Type</a></li>
    <li><a href="/data/5">By Issue</a></li>
  </ul>

</li>
{% endblock %}
