
{% extends 'adm/index.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "bower_components/select2/dist/css/select2.min.css" %}">

{% endblock %}
{% block content %}

<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-md-4">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Account Information</h3>
          </div>
          <div class="box-body">
            <form class='form' action="#" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary pull-left">update</button>
              </form>
          </div>
        </div>
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Invioce Copy</h3>
          </div>
          <div class="box-body">
            {% if invoice.file %}
            <a href={{ invoice.file.url }} target="_blank">Click me</a>
            {% endif %}
          </div>
        </div>
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Invioce Note</h3>
          </div>
          <div class="box-body">
            {% if invoice.note %}
              {{ invoice.note }}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-8">

        <div class="row">
          <div class="col-md-4">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Basic Information</h3>
              </div>
              <div class="box-body">
                <p class="text-light-blue">Incident Number:{{invoice.incident.sksid|upper }}</p>
                <p class="text-light-blue">Business Name: {{invoice.incident.businessName|upper }}</p>
                <p class="text-light-blue">Contact Name: {{invoice.incident.contactName|upper }}</p>
                <p class="text-light-blue">Serial Number: {{invoice.incident.serialNumber|upper}}</p>
                <p class="text-light-blue">Phone: {{invoice.incident.phone|upper}}</p>
                <p class="text-light-blue">Email: {{invoice.incident.email|upper}}</p>
                <p class="text-light-blue">Address: {{invoice.incident.location_add1|upper}}
                  {% if invoice.incident.location_add2 %}
                  {{invoice.incident.location_add2|upper}}
                  {% endif %}
                  {{invoice.incident.location_city|upper}}
                  {{invoice.incident.location_state|upper}} {{invoice.incident.location_zip|upper}}</p>
                <p class="text-light-blue">Issue: {{invoice.incident.issue|upper}}</p>
                <p class="text-light-blue">Technical Support Questions: {{invoice.incident.tsq|upper|linebreaks}}</p>
                <p class="text-light-blue">Received by {{invoice.incident.receiver}} @ {{invoice.incident.callTime}}</p>
              </div>
              <!-- /.box-body -->
            </div>
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Follow Up With Customer</h3>
              </div>
              <div class="box-body">
                <p class="text-light-blue">{{invoice.incident.followup_customer|upper|linebreaks}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Pre-diagnosis</h3>
              </div>
              <div class="box-body">
                <p class="text-light-blue">{{invoice.incident.pre_diagnosis|linebreaks}}</p>
                <p>{{invoice.incident.timestamp_diagnosis}}</p>
              </div>
            </div>
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Tech Information</h3>
              </div>
              <div class="box-body">
                <p class="text-light-blue">Tech: {{invoice.incident.techName}}</p>
                <p class="text-light-blue">Phone: {{invoice.incident.techPhone}}</p>
                <p class="text-light-blue">Email: {{invoice.incident.techEmail}}</p>
                <p class="text-light-blue">Note: {{invoice.incident.techNote|linebreaks}}</p>
              </div>
            </div>
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Follow Up With Technician</h3>
              </div>
              <div class="box-body">
                <p class="text-light-blue">{{invoice.incident.followup_tech|upper|linebreaks}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Parts Information</h3>
              </div>
              <div class="box-body">
                {% if parts %}
                  <table id="assets_table" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Number</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Tracking</th>
                      </tr>
                    </thead>

                    <tbody>
                        {% for p in parts %}
                        <tr>
                          <td>{{ p.request_time }}</td>
                          <td>{{ p.number }}</td>
                          <td>{{ p.name }}</td>
                          <td>{{ p.qty }}</td>
                          <td>{% if p.tracking %}
                            <a href="https://wwwapps.ups.com/WebTracking/track?loc=en_US&track.x=Track&trackNums={{p.tracking}}" target="_blank">
                            {{p.tracking}}
                            </a>
                            {% endif %}
                          </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                  {% endif %}
              </div>
            </div>
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Warranty Information</h3>
              </div>
              <div class="box-body">
                <p>Warranty: {{invoice.incident.warranty}}</p>
                <P>Note: {{ invoice.incident.warrantyNote|upper|linebreaks}}</P>
              </div>
            </div>
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Files</h3>
              </div>
              <div class="box-body">
                <div class="box-body">
                {% if files %}
                  {% for f in files %}
                  <p>
                    <a href={{ f.file_field.url }} target="_blank">{{forloop.counter}}</a>
                  </p>
                  {% endfor %}
                {% endif %}
              </div>
              </div>
            </div>
            <div class="box">
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Tags:
                      {% for t in invoice.incident.tag_set.all %}
                      <span class="badge">{{t}}
                        <span onclick=remove_tag() class="glyphicon glyphicon-remove"></span>
                      </span>
                      {% endfor %}
                  </h3>
                </div>
                <div class="box-body">
                  <div class="col-md-8">
                    <form class="form1" action="#/" method="post">
                      {% csrf_token %}
                      <select class="form-control select2" multiple="multiple" data-placeholder="Select tags" name="tags" id="tags" style="width: 100%;">
                        {% for t in tags %}
                        <option value="{{t.id}}">{{t}}</option>
                        {% endfor %}
                      </select>
                      </div>
                    <div class="col-md-8">
                      <div class="form-group">
                        {{ tag_form.name }}
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">update</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
{% block script %}
<script src="{% static "bower_components/select2/dist/js/select2.full.min.js" %}"></script>
<script>
  $(function () {
    $('.select2').select2()
  });
</script>
{% endblock %}
