
{% extends 'adm/index.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "plugins/datatables/jquery.dataTables.min.css" %}">

<style>
.glyphicon.glyphicon-green-dot:before {
    color: #20F343;
    content: "\25cf";
    font-size: 1.5em;
}
.glyphicon.glyphicon-yellow-dot:before {
    color: #FFD700;
    content: "\25cf";
    font-size: 1.5em;
}
.glyphicon.glyphicon-red-dot:before {
    color: #F21616;
    content: "\25cf";
    font-size: 1.5em;
}
</style>
{% endblock %}
{% block content %}
<div class="content-wrapper">
  <section class="content">
    {% if invoices %}
      <section class="content-header">
        <h1>
          Records List
        </h1>
        <form class="form-inline md-form form-sm pull-right">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" name="search">
          </form>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-xs-12">

            <div class="box">
              <div class="box-body">
                <table id="assets_table" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Invoice</th>
                      <th>Incident Number</th>
                      <th>Total Cost</th>
                      <th>Travel Cost</th>
                      <th>Labor Cost</th>
                      <th>Material Cost</th>
                      <th>Travel Hour</th>
                      <th>Labor Hour</th>
                      <th>Status</th>
                      <th>Print</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for p in invoices %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="/request/invoice/approve/{{p.pk}}/">
                          {{ p.invoice }}</a></td>
                        <td>{{ p.sksid }}</td>
                        <td>${{ p.total_c }}</td>
                        <td>${{ p.travel_c }}</td>
                        <td>${{ p.labor_c }}</td>
                        <td>${{ p.material_c }}</td>
                        <td>{{ p.travel_t }}</td>
                        <td>{{ p.labor_t }}</td>
                        <td>{% if p.status == 1 %}
                            <span class="glyphicon glyphicon-green-dot"></span>
                            {% elif p.status == 2 %}
                            <span class="glyphicon glyphicon-red-dot"></span>
                            {% else %}
                            <span class="glyphicon glyphicon-yellow-dot"></span>
                            {% endif %}
                      </td>
                        <td><a href="/render/pdf/{{ p.incident.pk }}/" target="_blank">
                        Print</td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="pagination pull-right">
                  <span class="step-links">
                    {% if invoices.has_other_pages %}
                      <ul class="pagination">
                        {% if invoices.has_previous %}
                          <li><a href="?page={{ invoice.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in invoices.paginator.page_range %}
                          {% if invoices.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                          {% else %}
                          {% if i <= invoices.number|add:5 and i >= invoices.number|add:-5 %}
                            <li><a href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                          {% endif %}
                          {% endif %}
                        {% endfor %}
                        {% if invoices.has_next %}
                          <li><a href="?page={{ invoice.next_page_number }}">&raquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                      </ul>
                    {% endif %}
                  </span>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
      </section>

    <!-- DataTables -->
    {% else %}
      <p>No Records.</p>
    {% endif %}
  </section>
</div>
{% endblock %}

{% block script %}

{% endblock %}
