{% extends 'adm/index.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper">
  <section class="content">
    <div class="box">
      <div id="myDiv">
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block script %}
<script src="{% static "plugins/plotly.min.js" %}"></script>
<script>
  myDiv=document.getElementById('myDiv');
  var trace = {
    type: "scatter",
    mode: "lines",
    name: 'AAPL High',
    x: {{ date|safe }},
    y: {{ service|safe}},
    line: {color: '#17BECF'}
  };
  var layout = {
      title: 'Daily Service Calls',
      width: 800,
      height: 600,
  };

  fig={data:[trace],layout:layout};
  Plotly.newPlot('myDiv',fig);
</script>
{% endblock %}
