
{% extends 'request/index.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "plugins/datatables/jquery.dataTables.min.css" %}">
<style>
.glyphicon.glyphicon-green-dot:before {
    color: #20F343;
    content: "\25cf";
    font-size: 1.5em;
}
.glyphicon.glyphicon-yellow-dot:before {
    color: #FFD700;
    content: "\25cf";
    font-size: 1.5em;
}
.glyphicon.glyphicon-red-dot:before {
    color: #F21616;
    content: "\25cf";
    font-size: 1.5em;
}
</style>
{% endblock %}
{% block content %}

<div class="content-wrapper">
  <section class="content">
    {% if request %}
    <section class="content-header">
      <h1>
        Records List
        <small>All records</small>
      </h1>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body">
              <table id="assets_table" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Ref</th>
                    <th>Business</th>
                    <th>Phone</th>
                    <th>S/N</th>
                    <th>Warranty</th>
                    <th>Called</th>
                    <th>Status</th>
                    <th>Tech</th>
                    <th>File</th>
                    <th>Detail</th>
                  </tr>
                </thead>

                <tbody>
                    {% for r in request %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ r.sksid }}</td>
                      <td>{{ r.businessName }}</td>
                      <td>{{ r.phone }}</td>
                      <td>{{ r.serialNumber|upper }}</td>
                      <td>{% if r.warranty == True %}
                            <span class="glyphicon glyphicon-green-dot"></span>
                            {% elif r.warranty == False %}
                            <span class="glyphicon glyphicon-red-dot"></span>
                            {% else %}
                            <span class="glyphicon glyphicon-yellow-dot"></span>
                            {% endif %}
                      </td>
                      <td>{{ r.callTime }}</td>
                      <td>{% if r.finished %}
                            <span class="glyphicon glyphicon-green-dot"></span>
                            {% else %}
                            <span class="glyphicon glyphicon-red-dot"></span>
                            {% endif %}
                      </td>
                      <td>{{ r.techName }}</td>
                      <td><a href="/upload/{{ r.pk }}">Upload</a></td>
                      <td><a href="/request/{{ r.pk }}">View</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>No.</th>
                    <th>Ref</th>
                    <th>Business</th>
                    <th>Phone</th>
                    <th>S/N</th>
                    <th>Warranty</th>
                    <th>Called</th>
                    <th>Status</th>
                    <th>Tech</th>
                    <th>File</th>
                    <th>Detail</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    {% else %}
    <p>No records.</p>
    {% endif %}
  </section>
</div>
{% endblock %}

{% block script %}
<script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>

<script>
  $(function () {
    $('#assets_table').DataTable({
      "paging": true,       
      "lengthChange": true, 
      "searching": true,    
      "ordering": true,     
      "info": true,         
      "autoWidth": false,    
      "iDisplayLength": 50
    });
  });
</script>
{% endblock %}
