
{% extends 'request/index.html' %}
{% load static %}
{% block content %}

<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-md-4">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Basic Information</h3>
          </div>
          <div class="box-body">
            <p class="text-light-blue">Incident Number:{{unit.sksid|upper }}</p>
            <p class="text-light-blue">Business Name: {{unit.businessName|upper }}</p>
            <p class="text-light-blue">Contact Name: {{unit.contactName|upper }}</p>
            <p class="text-light-blue">Serial Number: {{unit.serialNumber|upper}}</p>
            <p class="text-light-blue">Phone: {{unit.phone|upper}}</p>
            <p class="text-light-blue">Email: {{unit.email|upper}}</p>
            <p class="text-light-blue">Address: {{unit.location_add1|upper}} {{unit.location_add2|upper}} {{unit.location_city|upper}}
              {{unit.location_state|upper}} {{unit.location_zip|upper}}</p>
            <p class="text-light-blue">Issue: {{unit.issue|upper}}</p>
            <p class="text-light-blue">Technical Support Questions: {{unit.tsq|upper|linebreaks}}</p>
            <p class="text-light-blue">Received by {{unit.receiver}} @ {{unit.callTime}}</p>
          </div>
          <!-- /.box-body -->
        </div>
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Follow Up With Customer</h3>
          </div>
          <div class="box-body">
            <p class="text-light-blue">{{unit.followup_customer|upper|linebreaks}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Pre-diagnosis</h3>
          </div>
          <div class="box-body">
            <p class="text-light-blue">Note: {{unit.pre_diagnosis}}</p>
          </div>
        </div>
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Tech Information</h3>
          </div>
          <div class="box-body">
            <p class="text-light-blue">Tech: {{unit.techName}}</p>
            <p class="text-light-blue">Phone: {{unit.techPhone}}</p>
            <p class="text-light-blue">Email: {{unit.techEmail}}</p>
            <p class="text-light-blue">Note: {{unit.techNote|linebreaks}}</p>
          </div>
        </div>
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Follow Up With Technician</h3>
          </div>
          <div class="box-body">
            <p class="text-light-blue">{{unit.followup_tech|upper|linebreaks}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Parts Information</h3>
          </div>
          <div class="box-body">
            {% if parts %}
              <table id="assets_table" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Date</th>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Tracking</th>
                  </tr>
                </thead>

                <tbody>
                    {% for p in parts %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ p.request_time }}</td>
                      <td>{{ p.number }}</td>
                      <td>{{ p.name }}</td>
                      <td>{{ p.qty }}</td>
                      <td>{% if p.tracking %}
                        <a href="https://wwwapps.ups.com/WebTracking/track?loc=en_US&track.x=Track&trackNums={{p.tracking}}" target="_blank">
                        {{p.tracking}}
                        </a>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>No.</th>
                    <th>Date</th>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Tracking</th>
                  </tr>
                </tfoot>
              </table>
              {% endif %}
          </div>
        </div>
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Warranty Information</h3>
          </div>
          <div class="box-body">
            <p>Warranty: {{unit.warranty}}</p>
            <P>Note: {{ unit.warrantyNote|upper|linebreaks}}</P>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block script %}
<script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>

<script>
  $(function () {
    $('#assets_table').DataTable({
      "paging": false,       <!-- 允许分页 -->
      "lengthChange": true, <!-- 允许改变每页显示的行数 -->
      "searching": false,    <!-- 允许内容搜索 -->
      "ordering": true,     <!-- 允许排序 -->
      "info": false,         <!-- 显示信息 -->
      "autoWidth": false,    <!-- 固定宽度 -->
    });
  });
</script>
{% endblock %}