
{% extends 'request/index.html' %}
{% load static %}
<style>
.update{cursor:pointer;}
.label.badge-pill {
border-radius:0.2em;
margin:0 0.25em;
}
</style>
{% block content %}

<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-md-4">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Basic Information</h3>
          </div>
          <div class="box-body">
            <p class="text-light-blue">Incident Number:{{unit.sksid|upper }}</p>
            <p class="text-light-blue">Business Name: {{unit.businessName|upper }}</p>
            <p class="text-light-blue">Business Hour: {{unit.business_hour|upper }}</p>
            <p class="text-light-blue">Contact Name: {{unit.contactName|upper }}</p>
            <p class="text-light-blue">Serial Number: {{unit.serialNumber|upper}}</p>
            <p class="text-light-blue">Phone: {{unit.phone|upper}}</p>
            <p class="text-light-blue">Email: {{unit.email|upper}}</p>
            <p class="text-light-blue">Prefer reached by: {{unit.prefer_reached|upper}}</p>
            <p class="text-light-blue">Address: {{unit.location_add1|upper}} 
              {% if unit.location_add2 %}
              {{unit.location_add2|upper}} 
              {% endif %}
              {{unit.location_city|upper}}
              {{unit.location_state|upper}} {{unit.location_zip|upper}}</p>
            <p class="text-light-blue">Issue: {{unit.issue|upper}}</p>
            <p class="text-light-blue">Technical Support Questions: {{unit.tsq|upper|linebreaks}}</p>
            <p class="text-light-blue">Received by {{unit.create_user}} @ {{unit.callTime}}</p>
            <p class="text-light-blue">Dispatcher {{unit.dispatcher}} {{unit.dispatcher.email}}</p>
          </div>
          <!-- /.box-body -->
        </div>
        <div class="box box-primary">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-md-6">
                <h3 class="box-title">Follow Up With Customer </h3>
              </div>
              <div class="col-md-6">
                <div class="update pull-right">
                  <span class="badge" id="follow1" value="{{unit.id}}">Update</span>
                </div>
              </div>
            </div>
          </div>
          <div class="box-body">
            <p class="text-light-blue" id="follow" value="{{unit.followup_customer}}">{{unit.followup_customer|upper|linebreaks}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Pre-diagnosis</h3>
          </div>
          <div class="box-body">
            <p class="text-light-blue">{{unit.pre_diagnosis|linebreaks}}</p>
            <p>{{unit.timestamp_diagnosis}}</p>
          </div>
        </div>
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Tech Information</h3>
          </div>
          <div class="box-body">
            <p class="text-light-blue">Tech: {{unit.techName}}</p>
            <p class="text-light-blue">Phone: {{unit.techPhone}}</p>
            <p class="text-light-blue">Email: {{unit.techEmail}}</p>
            <p class="text-light-blue">Note: {{unit.techNote|linebreaks}}</p>
          </div>
        </div>
        <div class="box box-primary">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-md-6">
                <h3 class="box-title">Follow Up With Technician</h3>
              </div>
              <div class="col-md-6">
                <div class="update pull-right">
                  <span class="badge" id="follow2" value="{{unit.id}}">Update</span>
                </div>
              </div>
            </div>
          </div>
          <div class="box-body">
            <p class="text-light-blue">{{unit.followup_tech|upper|linebreaks}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box box-primary">
          <div class="box-header with-border">
            <div class="col-md-6"><h3 class="box-title">Parts Information</h3></div>
            <div class="col-md-6 pull-right">
                <span class="label label-light badge-pill"><a href="/request/{{ unit.pk }}/part/std/">
                  Request
                </a></span>
            </div>
          </div>
          
          <!-- using sksid in request -->
          <!-- <div class="box-body">
            {% if parts %}
              <table id="assets_table" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Date</th>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Tracking</th>
                  </tr>
                </thead>

                <tbody>
                    {% for p in parts %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ p.request_time }}</td>
                      <td>{{ p.number }}</td>
                      <td>{{ p.name }}</td>
                      <td>{{ p.qty }}</td>
                      <td>{% if p.tracking %}
                        <a href="https://wwwapps.ups.com/WebTracking/track?loc=en_US&track.x=Track&trackNums={{p.tracking}}" target="_blank">
                        {{p.tracking}}
                        </a>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            {% endif %}
          </div> -->

          <!-- Using foreign key to show the part request -->
          <div class="box-body">
            {% if unit.partrequest_set.all %}
            <table id="assets_table" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Date</th>
                  <th>Number</th>
                  <th>Name</th>
                  <th>Quantity</th>
                  <th>Tracking</th>
                </tr>
              </thead>

              <tbody>
                  {% for p in unit.partrequest_set.all %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ p.request_time|date:"m/d/Y" }}</td>
                    <td>{{ p.number }}</td>
                    <td>{{ p.name }}</td>
                    <td>{{ p.qty }}</td>
                    <td>{% if p.tracking %}
                      <a href="https://wwwapps.ups.com/WebTracking/track?loc=en_US&track.x=Track&trackNums={{p.tracking}}" target="_blank">
                      {{p.tracking}}
                      </a>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
            {% endif %}
          </div>
        </div>
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Warranty Information</h3>
          </div>
          <div class="box-body">
            <p>Warranty: {{unit.warranty}}</p>
            <P>Note: {{ unit.warrantyNote|upper|linebreaks}}</P>
          </div>
        </div>
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Files</h3>
          </div>
          <div class="box-body">
            <div class="box-body">
            {% if files %}
              {% for f in files %}
              <p>
                <a href={{ f.file_field.url }} target="_blank">{{forloop.counter}}</a>
              </p>
              {% endfor %}
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block script %}
<script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script>
  $(function () {
    $('#assets_table').DataTable({
      "paging": false,       
      "lengthChange": true, 
      "searching": false,    
      "ordering": true,     
      "info": false,         
      "autoWidth": false,    
    });
  });
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $('#follow1').click(function(){
      var id=$(this).attr("value")
      var url_add = '/api/case/' + id + '/'
      var note="{{unit.followup_customer|escapejs}}"
      var res = prompt("","")
      var d = new Date();
      if (res){
        res = d.toUTCString()+"\n"+res
        note=note+"\n"+res
        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          }
        });
        $.ajax({
          url: url_add,
          type : 'PATCH',
          dataType: 'json',
          data: {
            'followup_customer': note,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          statusCode: {
            200: function() {
              window.location.reload();
            }
          },
        });
      }
    });
    $('#follow2').click(function(){
      var id=$(this).attr("value")
      var url_add = '/api/case/' + id + '/'
      var note="{{unit.followup_tech|escapejs}}"
      var res = prompt("","")
      var d = new Date();
      if (res){
        res = d.toUTCString()+"\n"+res
        note=note+"\n"+res
        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          }
        });
        $.ajax({
          url: url_add,
          type : 'PATCH',
          dataType: 'json',
          data: {
            'followup_tech': note,
          },
          
          statusCode: {
            200: function() {
              window.location.reload();
            }
          },
        });
      }
    });
</script>
{% endblock %}