
{% extends 'request/index.html' %}
{% load static %}
{% block css %}
<style>
.glyphicon.glyphicon-green-dot:before {
    color: #20F343;
    content: "\25cf";
    font-size: 1.5em;
}
</style>
{% endblock %}
{% block content %}
<div class="content-wrapper">
  <section class="content">
    {% if request %}

    <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Records List
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          <li class="active">Records List</li>
        </ol>
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-xs-12">

            <div class="box">
              <div class="box-body">
                <table id="assets_table" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>ID</th>
                      <th>Business</th>
                      <th>Contact</th>
                      <th>S/N</th>
                      <th>Phone</th>
                      <th>Date</th>
                      <th>Tech</th>
                    </tr>
                  </thead>

                  <tbody>
                      {% for r in request %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ r.sksid }}</td>
                        <td>{{ r.businessName }}</td>
                        <td>{{ r.contactName }}</td>
                        <td>{{ r.serialNumber }}</td>
                        <td>{{ r.phone }}</td>
                        <td>{{ r.callTime }}</td>
                        <td>{% if r.warranty %}
                            <span class="glyphicon glyphicon-green-dot"></span>
                            {% else %}
                            <a href="/user/dispatcher/new/{{ r.pk }}">
                              <button type="button" class="btn btn-block btn-info btn-sm">Find a Tech!</button>
                            </a>
                            {% endif %}
                        </td>
                      </tr>
                      {% empty %}
                        <tr>Nothing!</tr>
                      {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>No.</th>
                      <th>Business</th>
                      <th>Contact</th>
                      <th>S/N</th>
                      <th>Phone</th>
                      <th>Warranty Statue</th>
                      <th>Date</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
      </section>

    {% else %}
      <p>No requests are available.</p>
    {% endif %}
  </section>
</div>
{% endblock %}

{% block script %}
<script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "plugins/datatables/dataTables.bootstrap4.min.js" %}"></script>
<!-- SlimScroll -->
<script src="{% static "plugins/slimScroll/jquery.slimscroll.min.js" %}"></script>
<!-- FastClick -->
<script src="{% static "plugins/fastclick/fastclick.js" %}"></script>

<script>
  $(function () {
    $('#assets_table').DataTable({
      "paging": true,       <!-- 允许分页 -->
      "lengthChange": true, <!-- 允许改变每页显示的行数 -->
      "searching": true,    <!-- 允许内容搜索 -->
      "ordering": true,     <!-- 允许排序 -->
      "info": true,         <!-- 显示信息 -->
      "autoWidth": false    <!-- 固定宽度 -->
    })
  })
</script>
{% endblock %}
