
{% extends 'request/index.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "plugins/datatables/jquery.dataTables.min.css" %}">
{% endblock %}
{% block content %}

<div class="content-wrapper">
  <section class="content">
    {% if request %}

    <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Records List
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          <li class="active">Records List</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-xs-12">

            <div class="box">
              <div class="box-body">
                <table id="assets_table" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Incident Number</th>
                      <th>S/N</th>
                      <th>Location</th>
                      <th>Tracking</th>
                      <th>Date</th>
                    </tr>
                  </thead>

                  <tbody>
                      {% for r in request %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ r.sksid }}</td>
                        <td>{{ r.sn }}</td>
                        <td>{{ r.location_add1 }} 
                        {% if r.location_add2 %}
                        {{ r.location_add2 }}
                        {% endif %} {{r.location_zip}}</td>
                        <td>{% if not r.tracking %}
                              <a href="/request/part/{{ r.pk }}">
                                <div class="col-md-6">
                                  <button type="button" class="btn btn-block btn-info btn-sm">Update</button>
                                </div>
                              </a>
                            {% else %}
                              <a href="https://wwwapps.ups.com/WebTracking/track?loc=en_US&track.x=Track&trackNums={{r.tracking}}" target="_blank">
                                {{r.tracking}}
                              </a>
                            {% endif %}
                        </td>
                        <td>{{ r.request_time }}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>No.</th>
                      <th>Incident Number</th>
                      <th>S/N</th>
                      <th>Location</th>
                      <th>Tracking</th>
                      <th>Date</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
      </section>

    <!-- DataTables -->


    {% else %}
      <p>No Records.</p>
    {% endif %}
  </section>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
<script>
  $(function () {
    $('#assets_table').DataTable({
      "paging": true,       <!-- 允许分页 -->
      "lengthChange": true, <!-- 允许改变每页显示的行数 -->
      "searching": true,    <!-- 允许内容搜索 -->
      "ordering": true,     <!-- 允许排序 -->
      "info": true,         <!-- 显示信息 -->
      "autoWidth": false,    <!-- 固定宽度 -->
      "iDisplayLength": 40,
      dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
  });
</script>
{% endblock %}
