
{% extends 'operator/operator.html' %}
{% load static %}
{% block css %}
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="{% static "bower_components/select2/dist/css/select2.min.css" %}">
{% endblock %}
{% block content %}

<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <form class='form' action="#/" method="post">
        {% csrf_token %}
          <div class="col-md-6">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Basic Information</h3>
              </div>
              <div class="box-body">
                <p class="text-light-blue">Incident Number:{{unit.sksid|upper }}</p>
                <p class="text-light-blue">Business Name: {{unit.businessName|upper }}</p>
                <p class="text-light-blue">Contact Name: {{unit.contactName|upper }}</p>
                <p class="text-light-blue">Serial Number: {{unit.serialNumber|upper}}</p>
                <p class="text-light-blue">Phone: {{unit.phone|upper}}</p>
                <p class="text-light-blue">Email: {{unit.email|upper}}</p>
                <p class="text-light-blue">Address: {{unit.location_add1|upper}} {% if unit.location_add2 %}
              {{unit.location_add2|upper}} 
              {% endif %} {{unit.location_city|upper}}
                  {{unit.location_state|upper}} {{unit.location_zip|upper}}</p>
                <p class="text-light-blue">Issue: {{unit.issue|upper}}</p>
                <p class="text-light-blue">Technical Support Questions: {{unit.tsq|upper|linebreaks}}</p>
                <p class="text-light-blue">Received by {{unit.receiver}} @ {{unit.callTime}}</p>
              </div>
              <!-- /.box-body -->
            </div>
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Basic Information</h3>
              </div>
              <div class="box-body">
                <p>Warranty: {{unit.warranty}}</p>
                <P>Note: {{ unit.warrantyNote|upper|linebreaks}}</P>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Tags:
                    {% for t in unit.tag_set.all %}
                    <button type="button" class="btn bg-olive">{{t}}</button>
                    {% endfor %}
                  
                </h3>
              </div>
              <div class="box-body">
                <div class="col-md-4">
                  <div class="form-group">
                    <select class="form-control select2" multiple="multiple" data-placeholder="Select tags" name="tags" id="tags" style="width: 100%;">
                      {% for t in tags %}
                      <option value="{{t.id}}">{{t}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    {{ tag_form.name }}
                  </div>
                </div>
              </div>
            </div>
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Pre-diagnosis</h3>
              </div>
              <div class="box-body">
                <div class="form-group">
                  {{ form.pre_diagnosis.errors }}
                  <label for="{{ form.pre_diagnosis.id_for_label }}">Note</label>{{ form.pre_diagnosis }}
                </div>
                <div class="checkbox">
                  <label>
                    {{ form.pre_diagnosis_pending }}Move to Pending Box.
                    <p>Uncheck it if you are going to finish it</p>
                   </label>
                </div>
                <button type="submit" class="btn btn-primary pull-right">update</button>
              </div>
            </div>
          </div>
      </form>
    </div>
  </section>
</div>
{% endblock %}
{% block script %}
<script src="{% static "bower_components/select2/dist/js/select2.full.min.js" %}"></script>
<script>
  $(function () {
    $('.select2').select2()
  });
</script>
{% endblock %}
