
{% extends 'request/index.html' %}
{% load static %}
{% block css %}
<style>
  [class^="u-icon"]
{
    display: inline-block;
    color: #fff;
    vertical-align: middle;
}

.u-icon-delete
{
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 40px;
    height: 40px;
}
/*给before伪类设置一个默认背景色 设置content*/
.u-icon-delete:before
{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #8e8e93;
    content: ''; 
}
/*给after伪类   -webkit-transform: rotate(-45deg);旋转    background-color: #e1e2e4;设置X的一边的颜色*/
.u-icon-delete:after
{
    position: absolute;
    top: 19px;
    left: 14px;
    width: 12px;
    height: 2px;
    -webkit-transform: rotate(-45deg);
    background-color: #e1e2e4;
    content: '';
}
/* -webkit-transform: rotate(45deg); 运用的特别巧秒*/
.u-icon-delete i
{
    position: absolute;
    top: 19px;
    left: 14px;
    width: 12px;
    height: 2px;
    background-color: #e1e2e4;
    -webkit-transform: rotate(45deg);
}
/*橙色背景中间一白色横杠的删除icon */
.u-icon-del
{
    position: relative;
    width: 17px;
    height: 17px;
    border: 1px solid #ff5d1d;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    background-color: #ff5d1d;
}

.u-icon-del.on,.on .u-icon-del 
{
    -webkit-transform: rotateZ(90deg);
}
/*这里的background-color: #fff;和 content: "\20";实现白色横杠*/
.u-icon-del::after
{
    position: absolute;
    top: 7px;
    left: 3px;
    width: 10px;
    height: 3px;
    background-color: #fff;
    content: "\20";
}

</style>
{% endblock %}
{% block content %}

<div class="content-wrapper">
  <section class="content">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if requests %}
        <section class="content-header">
        <h1>
          Records List
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          <li class="active">Records List</li>
        </ol>
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-xs-12">

            <div class="box">
              <div class="box-body">
                <table id="assets_table" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th></th>
                      <th>No.</th>
                      <th>S/N</th>
                      <th>Business</th>
                      <th>Date</th>
                    </tr>
                  </thead>

                  <tbody>
                      {% for r in requests %}
                      <tr>
                        <td><span class="u-icon-del" value="{{r.id}}"></span></td>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <div class="post">
                                <a href="/warranty/{{ r.pk }}">{{ r.serialNumber|upper }}</a>
                            </div>
                        </td>
                        <td>{{ r.businessName }}</td>
                        <td>{{ r.callTime }}</td>
                      </tr>
                      {% empty %}
                        <tr>Nothing!</tr>
                      {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>No.</th>
                      <th>S/N</th>
                      <th>Business</th>
                      <th>Date</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
    {% else %}
        <p>All serial numbers have been verified.</p>
    {% endif %}
  </section>
</div>
{% endblock %}

{% block script %}
<script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "plugins/datatables/dataTables.bootstrap4.min.js" %}"></script>
<!-- SlimScroll -->
<script src="{% static "plugins/slimScroll/jquery.slimscroll.min.js" %}"></script>
<!-- FastClick -->
<script src="{% static "plugins/fastclick/fastclick.js" %}"></script>
<!-- AdminLTE App -->
<script src="{% static "dist/js/adminlte.min.js" %}"></script>
<script>
    $('.u-icon-del').click(function(){
      var id=$(this).attr("value")
      var url_add = '/api/case/' + id + '/'
      var res = confirm("You are going to delete this case")
      if (res){
        $.ajax({
          url: url_add,
          type : 'DELETE',
          data: {
            'id': id,
          },
          dataType: 'json',
          statusCode: {
            204: function() {
              window.location.reload();
            }
          },
        });
      }
    });
  </script>

{% endblock %}
