
{% extends 'request/index.html' %}
{% load static %}
{% block content %}

<div class="content-wrapper">
  <section class="content">

    <form class='form' action="update/" method="post">
      	{% csrf_token %}
       		<div class="box-body">
        		<div class="col-md-6">
          			<div class="box box-primary">
          				<div class="box-header with-border">
              				<h1 class="box-title">{{ unit.serialNumber }}</h1>
           				</div>
           				<div class="box-header">
              				<h1 class="box-title">Business Infomation:</h1>
           				</div>
           				<div class="box-body">
           					<p>Business Name: {{unit.businessName}}</p>
           					<p>Business Location: {{unit.location_add1|upper}} {{unit.location_add2|upper}} {{unit.location_city|upper}}
                    			{{unit.location_state|upper}} {{unit.location_zip|upper}}</p>
           				</div>
              			<div class="box-body">
              				{{ form }}
              				<button type="submit" class="btn btn-primary pull-right">update</button>
              			</div>
              		</div>
              	</div>
			</div>
    </form>
  </section>
</div>
{% endblock %}

{% block script %}
<script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "plugins/datatables/dataTables.bootstrap4.min.js" %}"></script>
<!-- SlimScroll -->
<script src="{% static "plugins/slimScroll/jquery.slimscroll.min.js" %}"></script>
<!-- FastClick -->
<script src="{% static "plugins/fastclick/fastclick.js" %}"></script>
<!-- AdminLTE App -->
<script src="{% static "dist/js/adminlte.min.js" %}"></script>

<!-- page script -->

{% endblock %}
